*#
.#*
misc
*~
*fsl
*fasl
*64xfasl
*.old
.AppleDouble
*.pro
[0-9]*
junk*
temp*
#*
*.gsh
.DS_Store
*.sed
*.json.lisp
*.out
time-to-market*
svg/cl-compiler/rules.lisp
svg/cl-compiler/output.prolog
svg/cl-compiler/output2.prolog
whitepapers/*.scriv
*.scriv/
*.scrivx
*binder.autosave

svg/cl-compiler/bad.txt

svg/cl-compiler/BUILD_PROCESS.ir

svg/xform/test2.lisp

svg/cl-compiler/hold-build.ir

svg/back-end/runs.lisp

svg/back-end/log.lisp

svg/back-end/log2.lisp


*.autosave

svg/cl-compiler/BUILD_PROCESS.generic

svg/cl-compiler/BUILD_PROCESS.json

svg/cl-compiler/IDE.json

svg/cl-compiler/IDE.ir

svg/cl-compiler/IDE.generic

svg/cl-compiler/hold.ir

svg/cl-compiler/old-assign-portnames.lisp

*.ir
