*#
.#*
misc
*~
*fsl
*fasl
*64xfasl
*.old
.AppleDouble
*.pro
[0-9]*
junk*
temp*
#*
*.gsh
.DS_Store
*.sed
*.json.lisp
*.out
time-to-market*
svg/cl-compiler/rules.lisp
svg/cl-compiler/output.prolog
svg/cl-compiler/output2.prolog
whitepapers/*.scriv
*.scriv/
*.scrivx
*binder.autosave

svg/cl-compiler/bad.txt

svg/cl-compiler/BUILD_PROCESS.ir

svg/xform/test2.lisp

svg/cl-compiler/hold-build.ir

svg/back-end/runs.lisp

svg/back-end/log.lisp

svg/back-end/log2.lisp


*.autosave

svg/cl-compiler/BUILD_PROCESS.generic

svg/cl-compiler/BUILD_PROCESS.json

svg/cl-compiler/IDE.json

svg/cl-compiler/IDE.ir

svg/cl-compiler/IDE.generic

svg/cl-compiler/hold.ir

svg/cl-compiler/old-assign-portnames.lisp

*.ir

*.generic

svg/cl-compiler/COMPILE-COMPOSITE.json

*.zaps

svg/compiler3/lwacomp3

svg/cl-compiler/BUILD_PROCESS.lisp

svg/cl-compiler/COMPILE-COMPOSITE.lisp

svg/cl-compiler/IDE.lisp

svg/cl-compiler/BUILD-PROCESS.json

svg/cl-compiler/BUILD-PROCESS.lisp

svg/cl-compiler/COMPILE_COMPOSITE.json

svg/cl-compiler/COMPILE_COMPOSITE.lisp

build_process/cl-build/esa.lisp

build_process/esa/esa-dsl.lisp

svg/cl-compiler/COMPILE-SINGLE-DIAGRAM.json

svg/cl-compiler/COMPILE-SINGLE-DIAGRAM.lisp

svg/cl-compiler/BUILD-RECURSIVE.json

svg/cl-compiler/BUILD-RECURSIVE.lisp
