*#
.#*
misc
*~
*fsl
*fasl
*64xfasl
.AppleDouble
*.pro
[0-9]*
junk*
temp*
#*
*.gsh
.DS_Store
*.sed
*.json.lisp
time-to-market*
svg/cl-compiler/rules.lisp
svg/cl-compiler/output.prolog
svg/cl-compiler/output2.prolog

svg/cl-compiler/bad.txt

svg/cl-compiler/BUILD_PROCESS.ir

svg/xform/test2.lisp

svg/cl-compiler/hold-build.ir

svg/back-end/runs.lisp

svg/back-end/log.lisp

svg/back-end/log2.lisp
