<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 894}}</string>
		<string>{{266, 0}, {1287, 894}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>25C3367A-FFB7-4EFB-9A05-F854E2D9082B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3BB3571F-FEFB-4456-8DCB-5F1B402B8CA9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>433E02F4-FAE9-4A5B-A569-F0CEA3A54B0E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4E23C7F4-F943-48D6-B784-8C1DF96E689A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>58CF4704-462E-467C-997F-730F2E2ADDD2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5C5EE91D-7E2F-4637-A09E-0A2239CB2FE1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5D3E2A33-6D7A-4AB2-A15E-5CF04F5C3D25</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6C850017-6D4D-4ADF-B2EB-322165CE1979</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7A235714-A34F-4E44-B3B5-58898F4E2D72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>83A07568-F810-4BC1-A0D5-62BAA7229A78</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8E8F2837-EF81-4316-9D2F-B3C2CDBAFC68</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>91729996-BF52-4CDF-84F3-5211D0F3A733</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA2087FF-7D0C-4A85-8228-4001E9034125</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF3F4762-DFB9-40FD-B49E-7A5A4BFC9E75</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F157A412-99D5-4BAE-B610-36747C717D05</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {336, 913}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.cardWidth</key>
	<real>325</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 538.66666666666663}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>1950 124 1553 916 1920 0 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
